@charset "UTF-8";

/* GENERAL */

*{
	padding: 0px;
	margin: 0px;
}

.clear{
	clear: both;
	float: none!important;
	border: none!important;
	height: 0px!important;
}

#side-menu {
    background-color: lightgrey;
}

.row {
	margin: 0px;
}



div.class-list-title1 {
	display:inline-block;
	width: 42.66%;


	
}

div.class-list-title2 {
	
	display:inline-block;
	width: 55.66%;

	
}

#content {
	padding: 10px;
	margin-top: 115px;
	/*position: fixed;*/
}

.panel-default {
    /*margin: 10px;*/
}

div.info-bar-1{

	margin-top: 128px;
	margin-bottom: 10px;
	position: fixed;

}
div.info-bar-2{
	margin-top: 128px;
	margin-bottom: 10px;
	position: fixed;

}


#questions.list-group {
	margin-top: 125px;
	border-radius: 0px;
	position: fixed;
	
	width: 41.66666667%;
}

#classes.list-group {
	margin-top: 205px;
	border-radius: 0px;
	position: fixed;
	
	width: 41.66666667%;
}
.sidebar {
	border-radius: 0px;
	overflow: scroll;
}

.container {
    width: 100%;
    padding: 0px;
}

.panel-default {
    margin: 0px;

}

.page-header {
    padding:0px;
    margin: 0px;
    position: fixed;
    z-index: 9999;
    width: 100%;
    padding-top:20px;
    background-color: white;
    text-align: center;
}

#classSearch {
	/*padding-bottom: 10px;*/
	width:100%;
	border-radius:5px 5px 5px 5px;
}
#classSearchField {
	
	border-radius:5px 5px 5px 5px;
}
#page-body {
    
}
.panel-heading {
	background-color:#FFEFDB;
	border-radius:5px 5px 0px 0px;
}

.panel-bottom {
	background-color:#CDC0B0;
	border-radius:0px 0px 5px 5px;
	height:20px;
}

.panel-body {
	background-color:#EEDFCC;
}


body{
	background-color: #EFEFEF;
}

.XButton{
	color: red;
	cursor: pointer;
}

.btn-group .button:last-child {
  border-radius: 0 6px 6px 0;
  margin-left: -1px;
}

.btn-group .button:only-child {
  border-radius: 6px;
  margin-left: 0;
}
.side-options {
	float:right;
}


.btn-default, span.tagName{
	font-size: 11px;
	padding:1px;
	border-radius:3px;
}
.btn-group#tag-button{
	font-size: 11px;
	padding:1px;
	border-radius:7px;
}
div.single-course{
	margin-bottom: 20px;
	background-color:#FAEBD7;
	border-radius:5px;
	border-color:#ddd;
	border-style:solid;
	border-width:1px;

}
div.panel.panel-default {
	background-color: white;
}


div.list-group ul {
	margin-bottom:0;
}
/*Class history containers*/

div.addList {

}

div.tookList {

}

/*custom buttons*/
.btn-container-suggestr {
	text-align:center;
	
}
/*custom buttons*/
.btn-container-yacs {
	text-align:center;
}



.btn-yacs {
  text-align:center;
  color: #ffffff; 
  background-color: #ccccff; 
  border-color: #6666ff; 
} 
 
.btn-yacs:hover, 
.btn-yacs:focus, 
.btn-yacs:active, 
.btn-yacs.active, 
.open .dropdown-toggle.btn-sample { 
  color: #ffffff; 
  background-color: #ccccff; 
  border-color: #6666ff; 
} 
 
.btn-yacs:active, 
.btn-yacs.active, 
.open .dropdown-toggle.btn-sample { 
  background-image: none; 
} 
 
.btn-yacs.disabled, 
.btn-yacs[disabled], 
fieldset[disabled] .btn-sample, 
.btn-yacs.disabled:hover, 
.btn-yacs[disabled]:hover, 
fieldset[disabled] .btn-sample:hover, 
.btn-yacs.disabled:focus, 
.btn-yacs[disabled]:focus, 
fieldset[disabled] .btn-sample:focus, 
.btn-yacs.disabled:active, 
.btn-yacs[disabled]:active, 
fieldset[disabled] .btn-sample:active, 
.btn-yacs.disabled.active, 
.btn-yacs[disabled].active, 
fieldset[disabled] .btn-sample.active { 
  background-color: #ccccff; 
  border-color: #6666ff; 
} 
 
.btn-sample .badge { 
  color: #611BBD; 
  background-color: #6666ff; 
}
/*icons*/

.arrow-down {
	margin:0 auto;
	width: 0; 
	height: 0; 
	
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	
	border-top: 20px solid #5bc0de;
	
}

/*SLIDER*/
.slider {
	width:33%;
	float:left;
	border-radius:2px;
}
.slider-rating {
	background-color:black;
	color:white;
}


