@charset "UTF-8";

/* GENERAL */

*{
	padding: 0px;
	margin: 0px;
}

.clear{
	clear: both;
	float: none!important;
	border: none!important;
	height: 0px!important;
}

#side-menu {
    background-color: lightgrey;
}

.row {
	margin: 0px;
}

div.panel-heading div.row div.col-md-6{
	padding-left:0px;
}
div.panel-heading div.row {

}
div.resultsInfo {
	display:inline-block;
}

div.suggest-control {
	margin-bottom:10px;
	margin-top:10px;
	
	display:inline-block;
}
div.btn-container-suggestr{
	margin-right:10px;
	float:left;
}


/*
div.suggest-control div.list-group-item {
	padding-top:0px;
	padding-bottom:0px;
}*/

div.panel-heading div.col-md-3::after{
	border-right: 0px solid transparent;
	height:40px;
	background-color:blue;
}
div.panel-bottom {
	padding: 15px;
	height:52px;
}
/**

CUSTOM ALGORITHM DROPDOWNS AND SLIDERS

**/
div.CustomizeWeightArray{
	text-align: center;
	margin-top:6px;
	margin-bottom:6px;
	height:25px;
	border-bottom:1px #D3D3D3 solid;
}
div.CustomizeWeightArray div.span {
	text-align: center;
	width:100%;
}

div.ArrayWeights{
	height:35px;
}

div.WeightSlider{
	height:20px;
	width:33%;
	float:left;
	
	display: table-cell;
	vertical-align: middle;
}

div.SliderBody{
	background-color:lightgreen;
	height:7px;
	border-radius:5px;
	vertical-align: middle;
	border: 1px grey solid;
	
}




/**STAR SLIDER FREE OPTION ELECTIVE!!!!
*/
div.star-slider {
	height:100%;
	top:50%;
	width:130px;
	margin-left:20%;
}

div.star-slider div.change-up {
	text-align: center;
	font-size:9px;
	color:gray;
	width:70%;
	float:left;
}

div.star-slider div.attribute {
	text-align: center;
	font-size:14px;
	width:70%;
	float:left;
}

div.star-slider div.change-down {
	font-size:9px;
	text-align: center;
	color:gray;
	width:70%;
	float:left;

}
div.star-slider div.confirm {
	width:19%;
	margin-left:auto; margin-right:0;

	line-height:43px;

	
	
}

.btn-success {
	background-color:#e5ffe5;
	background-image:none;
	border-color:#ddd;
	color:black;
	text-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;

}

.btn-primary {
	background-color:#e5f2ff;
	background-image:none;
	border-color:#ddd;
	color:black;
	text-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.btn-danger {
	background-color:#ffe6e6;
	background-image:none;
	border-color:#ddd;
	color:black;
	text-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}
/*SCROLLING PANEL*/

#left-panel, #right-panel {
    overflow-y: scroll
}
div#left-panel {
    position: absolute;
    left: 0;
    top: 0;
    width: 41.666%;
    height: 100%
}

div#right-panel {
	position: absolute;
    left: 40%;
    top: 0;
    float: right;
    width: 60%;
    height: 100%
}

/*SCROLLING PANEL^*/

div.class-list-title1 {
	display:inline-block;
	width: 42.66%;


	
}

div.class-list-title2 {
	
	display:inline-block;
	width: 55.66%;

	
}

#content {
	padding: 10px;
	margin-top: 115px;
	/*position: fixed;*/
}

.panel-default {
    /*margin: 10px;*/
}

div.info-bar-1{

	margin-top: 128px;
	margin-bottom: 10px;
	position: fixed;

}
div.info-bar-2{
	margin-top: 128px;
	margin-bottom: 10px;
	position: fixed;

}




#classes.list-group {
	
	border-radius: 0px;
	/*position: fixed;*/
	
}
.sidebar {
	border-radius: 0px;
	overflow: scroll;
}

.container {
    width: 100%;
    padding: 0px;
}

.panel-default {
    margin: 0px;

}

.page-header {
    padding:0px;
    margin: 0px;
    position: fixed;
    z-index: 9999;
    width: 100%;
    padding-top:20px;
    background-color: white;
    text-align: center;
}

#classSearch {
	/*padding-bottom: 10px;*/
	width:100%;
	border-radius:5px 5px 5px 5px;
}
#classSearchField {
	
	border-radius:5px 5px 5px 5px;
}
#page-body {
    
}
.panel-heading {
	background-color:white;/*#FFEFDB;*/
	border-radius:5px 5px 0px 0px;
	border-bottom-color:#ddd;
}



.panel-body {
	/*background-color:#F9FFFF;/*#EEDFCC;*/
	background-color:white;
	border-bottom-color:#ddd;
}
.panel-bottom {
	/*background-color:#F5FFFA;/*#CDC0B0;*/
	background-color:white;
	border-radius:0px 0px 5px 5px;
	height:35px;

}
.panel-title {
	margin-top: 12px;
}

body{
	background-color: #EFEFEF;
}

.XButton{
	color: red;
	cursor: pointer;
}
div.btn-group{
	margin-top:4px;
}
.btn-group .button:last-child {

  border-radius: 0 6px 6px 0;
  margin-left: -1px;
}

.btn-group .button:only-child {
  border-radius: 6px;
  margin-left: 0;
}
.side-options {
	float:right;
}


.btn-default, span.tagName{
	font-size: 11px;
	padding:1px;
	border-radius:3px;
}
.btn-group#tag-button{
	font-size: 11px;
	padding:1px;
	border-radius:7px;
}
div.single-course{
	margin-bottom: 15px;
	/*background-color:#FAEBD7;*/
	border-radius:5px;
	border-color:#ddd;
	border-style:solid;
	border-width:1px;

}
div.panel.panel-default {
	background-color: white;
}

div.panel.panel-bottom {
	border:1px solid black;
}

div.list-group ul {
	margin-bottom:0;
}

/*Class history containers*/

ul#list-questions{
	margin-top: 135px;
	position:relative;
}




ul#list-took {
	
	background-color:#e5ffe5;
	
	position:relative;
	background-color:#E5FFE5;
	border-radius:5px 5px 5px 5px;
}


div.tookList {
	font-size:14px;
	font-weight: 450;
}
div.tookList span.badge {
	border:1px #ddd solid;
	background-color:white;
	color:red;
	font-size:11px;
	width:22px;
	height:22px;
	border-radius:15px;
	text-align: center;
	float: right;
}

span.badge span{

}
/*
.btn-danger{
	background-color:#FFD1D0;
	height:20px;
	width:20px;
	text-align: center;
	background-image:none;
	border-color:#ddd;
	color:white;
	text-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}*/
div.item-text{
	display:inline-block;
	width:80%;
}

li#bottom-container{
	width:100%;
	margin-top:50px;
}



ul#list-add {
	position:relative;
	background-color:#e5f2ff;
	border-radius:5px 5px 5px 5px;
}
div.addList {
	font-size:14px;
	font-weight: 450;
}
div.addList span.badge {
	border:1px #ddd solid;
	background-color:white;
	color:red;
	font-size:11px;
	width:22px;
	height:22px;
	border-radius:15px;
	text-align: center;
}


/*custom buttons*/
.btn-container-suggestr {
	/*margin-right:1%;*/
}
.btn-container-new {
	/*margin-right:1%;*/
}
/*custom buttons*/
.btn-container-yacs {
	text-align:center;
}



.btn-yacs {
  text-align:center;
  color: #ffffff; 
  background-color: #ccccff; 
  border-color: #6666ff; 
} 
 
.btn-yacs:hover, 
.btn-yacs:focus, 
.btn-yacs:active, 
.btn-yacs.active, 
.open .dropdown-toggle.btn-sample { 
  color: #ffffff; 
  background-color: #ccccff; 
  border-color: #6666ff; 
} 
 
.btn-yacs:active, 
.btn-yacs.active, 
.open .dropdown-toggle.btn-sample { 
  background-image: none; 
} 
 
.btn-yacs.disabled, 
.btn-yacs[disabled], 
fieldset[disabled] .btn-sample, 
.btn-yacs.disabled:hover, 
.btn-yacs[disabled]:hover, 
fieldset[disabled] .btn-sample:hover, 
.btn-yacs.disabled:focus, 
.btn-yacs[disabled]:focus, 
fieldset[disabled] .btn-sample:focus, 
.btn-yacs.disabled:active, 
.btn-yacs[disabled]:active, 
fieldset[disabled] .btn-sample:active, 
.btn-yacs.disabled.active, 
.btn-yacs[disabled].active, 
fieldset[disabled] .btn-sample.active { 
  background-color: #ccccff; 
  border-color: #6666ff; 
} 
 
.btn-sample .badge { 
  color: #611BBD; 
  background-color: #6666ff; 
}
/*icons*/

.arrow-down {
	margin:0 auto;
	width: 0; 
	height: 0; 
	
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	
	border-top: 20px solid #5bc0de;
	
}

/*SLIDER*/
.slider-base {
	width:33.33%;
	float:left;
	height:40px;
	/*border: 1px solid black;*/
	border-radius:5px;
	/*border-right:1px solid black;
	border-bottom-right-radius:5px;*/
	/*padding-left:20px;
	padding-right:10px;*/
}

.slider {
	

}
.slider-rating {
	background-color:black;
	color:black;
	height:10px;
	margin-right:10px;


	/*text-align:center;*/
}


.slider-label {
	
	color:black;
	font-size:13px;
	height:15px;
	margin-bottom:10px;
	
	/*text-align:center;*/
}

.cn {
	-moz-box-shadow: 3px 3px 4px #000; 
 	-webkit-box-shadow: 3px 3px 4px #000; 
 	box-shadow: 3px 3px 4px #000; 
}
/*Stats + slider*/
.stats {
	height:22px;
}
.stats .slider-rating {

}

.star-slider div.attribute {
	border: 1px solid #ddd;
	border-radius:5px;
	height:23px;
}

div.footer {
	position:absolute;
	bottom:0px;
	height:20px;
	width:40.6%;
	padding:0px 10px 0px 10px;
	font-size:11px;
	color:#808080;
	background-color:white;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-radius: 3px 3px 0px 0px;
	text-align: center;
}

div.star-five {
   margin: 50px 0;
   position: relative;
   display: block;
   color: red;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid red;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
}
div.star-five:before {
   border-bottom: 80px solid red;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
div.star-five:after {
   position: absolute;
   display: block;
   color: red;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid red;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}