@charset "UTF-8";

/* GENERAL */

*{
	padding: 0px;
	margin: 0px;
}

.clear{
	clear: both;
	float: none!important;
	border: none!important;
	height: 0px!important;
}

#side-menu {
    background-color: lightgrey;
}

.row {
	margin: 0px;
}

#content {
	padding: 10px;
	margin-top: 128px;
	/*position: fixed;*/
}

.panel-default {
    /*margin: 10px;*/
}

.list-group {
	border-radius: 0px;
	position: fixed;
	margin-top: 138px;
	width: 41.66666667%;
}

.sidebar {
	border-radius: 0px;
	overflow: scroll;
}

.container {
    width: 100%;
    padding: 0px;
}

.panel-default {
    margin: 0px;

}

.page-header {
    padding-left: 3%;
    margin: 0px;
    position: fixed;
    z-index: 9999;
    width: 100%;
    background-color: white;
    text-align: center;
}

#classSearch {
	padding-bottom: 10px;
}

#page-body {
    
}
.panel-heading {
	background-color:#FFEFDB;
	sborder-radius:5px 5px 0px 0px;
}

.panel-bottom {
	padding-bottom: 10px;
	background-color:#CDC0B0;
	border-radius:0px 0px 5px 5px;
}

.panel-body {
	background-color:#EEDFCC;
}


body{
	background-color: #EFEFEF;
}

.XButton{
	color: red;
	cursor: pointer;
}


.btn-default, span.tagName{
	font-size: 10px;
	padding:1px;
	border-radius:3px;
}
div.single-course{
	margin-bottom: 20px;
	background-color:#FAEBD7;
	border-radius:5px;

}
div.panel.panel-default {
	background-color: white;
}