div.panel-heading div.row div.btn btn-accept{
	padding-left:0px;
}
div.panel-heading div.row {

}

div.btn-group{
	margin-top:4px;
}


.btn-group .button:last-child {

  border-radius: 0 6px 6px 0;
  margin-left: -1px;
}

.btn-group .button:only-child {
  border-radius: 6px;
  margin-left: 0;
}

div.panel-bottom {
	
	border-top: 1px solid #ddd;
}

.btn-success {
	background-color:#e5ffe5;
	background-image:none;
	border-color:#ddd;
	color:black;
	text-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;

}

.btn-primary {
	background-color:#e5f2ff;
	background-image:none;
	border-color:#ddd;
	color:black;
	text-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}