<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="./images/favicon.ico">

	<title>Suggestr</title>
	
	<!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

	<!-- Supporting Scripts -->
	<script type="text/javascript" src="/Static/JS/GlobalJS/universalFunctions.js"></script>

	<!-- Latest compiled and minified bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="/Static/Styles/GlobalStyle/global.css"> 
</head>

<body>
	<div class="tutorial">
		
	</div>
	<div class="page-header">
		<h1>Suggestr</h1>
		<h4>Helpful course suggestions based on your course history.</h4>
		<!--<div class="class-list-title1">Course History</div>
		<div class="class-list-title2">Course Suggestions</div>-->
	</div>

	<div class="row" id="page-body">
		{{{BaseContent}}}
	</div>
</body>
</html>