<!DOCTYPE html>
<html>
	<head>
		<title>Suggestr &bull; {{Title}}</title>
		<!-- jQuery -->
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
		<script src="/Static/RemoteResources/jquery.min.js"></script>
		<!-- jQuery UI -->
		<!-- <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" /> -->
		<link rel="stylesheet" href="/Static/RemoteResources/jquery-ui.css" />
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script> -->
		<script src="/Static/RemoteResources/jquery-ui.min.js"></script>
		<!-- jQuery Plugins -->
		<script src="/Vendor/JSPlugins/jquery.history.js"></script>
		<script src="/Vendor/JSPlugins/json2.js"></script>
		<!--
		<script src="/Vendor/JSPlugins/jquery.form.js"></script>
		<script src="/Vendor/JSPlugins/customScrollBar/jquery.scrollbar.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/Vendor/JSPlugins/customScrollBar/jquery.scrollbar.css">
		<script src="/Vendor/JSPlugins/jquery.cookie.js"></script>
		<script src="/Vendor/JSPlugins/jquery.autosize.min.js"></script>
		-->
		<script src="/Vendor/JSPlugins/jquery.color.js"></script>
		<!-- Adobe Type Kit Web Fonts -->
		<!--<script src="//use.typekit.net/ygt0dgz.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>-->
		<!-- Universal Scripts -->
		<script type="text/javascript">
			var map, popup, dashboard, calendar; // Make map, popup, and dashboard vars global
			//var initCalendar; // Global variable to store the initializer function for the calendar
		</script>
		<script type="text/javascript" src="/Static/JS/GlobalJS/universalFunctions.js"></script>
		<!--<script type="text/javascript" src="/Static/JS/GlobalJS/dynamicUrls.js"></script> -->
		<!--<script type="text/javascript" src="/global_assets/global_js/objects/Map.js"></script>-->
		<script type="text/javascript" src="/Static/JS/GlobalJS/global.js"></script>
		<!-- <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.6/jquery.mousewheel.js"></script> -->
		<!-- Require.js -->
		<!--<script type="text/javascript" src="/Vendor/JSPlugins/require.js"></script>--><!-- This is used to dynamically load more scripts -->
		<!-- Import Global Module JavaScript -->
		<!-- More Universal Style Sheets -->
		<link rel="stylesheet" type="text/css" href="/Static/Styles/GlobalStyle/global.css">
		<!-- <link rel="stylesheet" type="text/css" href="/global_assets/global_css/repeatedElements.css"> -->
		<link rel="stylesheet" type="text/css" href="/Static/Styles/GlobalStyle/previews.css">
		<!-- Import Global Module Styles -->
		<link rel="stylesheet" type="text/css" href="/Static/Styles/GlobalStyle/tasks.css">
		<link rel="stylesheet" type="text/css" href="/Static/Styles/GlobalStyle/dashboard.css">
		<link rel="stylesheet" type="text/css" href="/Static/Styles/GlobalStyle/calendar.css">
		<link rel="stylesheet" type="text/css" href="/Static/Styles/GlobalStyle/notfCenter.css">
		<link rel="stylesheet" type="text/css" href="/Static/Styles/GlobalStyle/EventCreation.css">
		<!-- For anywhere that the DateSelector is used (NOTE: there is no global instance of this class) -->
		<link rel="stylesheet" type="text/css" href="/Static/Styles/RepeatedStyles/DateSelector.css">
		<!-- Google Fonts -->
		<!-- <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700,900italic' rel='stylesheet' type='text/css'> -->
		<link href='/Static/RemoteResources/css.css' rel='stylesheet' type='text/css'>
		<!-- TEMP DEMO STYLES SHEETS (to avoid jumping in presentation) -->
		<link href='/Static/Styles/PageStyles/user.css' rel='stylesheet' type='text/css'>
		<link href='/Static/Styles/PageStyles/FriendButton.css' rel='stylesheet' type='text/css'>
		<link href='/Static/Styles/RepeatedStyles/InlinePreview.css' rel='stylesheet' type='text/css'>
		<link href='/Static/Styles/RepeatedStyles/EventPreview.css' rel='stylesheet' type='text/css'>
	</head>
	<body>
		THIS IS THE HEADER
		<div id="dynamicPageContent">
			{{{BaseContent}}}
		</div>
	</body>
</html>