
<script type="text/javascript">
$(document).ready(function(){
	function setMargins(){
		
		
		if($('div#left-panel ul#list-took div.tookList > li.list-group-item').length === 0){
			$('div#left-panel ul#list-took li#bottom-container.list-group-item').css("margin-top","50px");
		}else{
			$('div#left-panel ul#list-took li#bottom-container.list-group-item').css("margin-top","0px");
		}

		if($('div#left-panel ul#list-add div.addList > li.list-group-item').length === 0){
			$('div#left-panel ul#list-add li#bottom-container.list-group-item').css("margin-top","50px");
		}else{
			$('div#left-panel ul#list-add li#bottom-container.list-group-item').css("margin-top","0px");
		}
		
	}
	// **************** POSTPONE COURSE FROM SESSION ****************
	$(document).on('click', 'div.panel-heading div.row div.col-md-5 div.btn-group button.btn-danger', function(){
		// Hide/remove elements

		$(this).parent('div.btn-group').parent('div.col-md-5').parent('div.row').parent('div.panel-heading').parent('div.single-course').slideUp(400, function(){
			$(this).remove();
		});
	});
	
	// **************** TOOK COURSE TO SESSION ****************
	$(document).on('click', 'div.single-course button.btn-success', function(){
		$elem = $(this);

		$course = $(this).parents("div.single-course");

		var id = $course.find('input#course_id').val();
		var number = $course.find('input#number').val();
		var name = $course.find('input#name').val();

		// Mark course as ignored in the model
		
		$.post('/a.php?p=TookCourse', {course_id:id}, function(d){
			if(!getAjaxStatus(d)){
				alert('Sorry, there was an error.');
			}else{
				// Hide/remove elements
				// Add course to left-hand list of courses
	
				//Adding class css/html to left-hand
				
				$("div#left-panel div.tookList")
					.append('<li class="list-group-item" style="display: none;background-color:#e5ffe5;">'+'<input type="hidden" id="course_id" value="'+id+'" />'+'<span class="badge XButton">X</span>'+'<span class="badge">'+number+'</span>'+name+'</li>');
				
				
				$("div#left-panel div.tookList li.list-group-item:last").slideDown(400);
				
				//Removing class from right panel,(suggestion and search area)
				$course.slideUp(400, function(){
					$course.remove();
				});
				setMargins();
			}
		});
	});
		
	// **************** ADD COURSE TO SESSION ****************
	$(document).on('click', 'div.panel-heading button.btn-primary', function(){
		$elem = $(this);
		$course = $(this).parents("div.single-course");

		var id = $course.find('input#course_id').val();
		var number = $course.find('input#number').val();
		var name = $course.find('input#name').val();
		
		
		$.ajax({
			type:"POST",
			url:'/a.php?p=AddCourse',
			data: {'course_id': id},
			dataType: "text",
			success: function(d){
				
				//alert("success2: "+);
				$("div#left-panel div.addList")
					.append('<li class="list-group-item" style="display: none;background-color:#e5f2ff;">'+'<input type="hidden" id="course_id" value="'+id+'" />'+'<span class="badge XButton">X</span>'+'<span class="badge">'+number+'</span>'+name+'</li>');
				
				
				$("div#left-panel div.addList li.list-group-item:last").slideDown(400);

				//Removing from right-side suggestions or search.
				$course.slideUp(400, function(){
					$course.remove();
				});
				
				setMargins();
			}
		}).done(function(d){
			//alert('done');
			resetStatistics();
		})
		.fail(function(jqXHR, textStatus, errorThrown) {
		    alert( "error" );
		    //console.log("error");
		    alert(textStatus);
  			alert(errorThrown);
		})
		.always(function() {
		    //alert( "complete" );
		});
		
	});
	function resetStatistics(){
		$.post('/a.php?p=Slider', function(d){
			if(getAjaxStatus(d)){
				// Everything went well

				$("div.statistics").html(getAjaxData(d));
				sliderColorizeDown($("div.statistics div.slider-rating"),$("div.statistics").find('input.percent').val());

				//NEED TO MAKE SEPARATE FUNCTION FOR COLORIZATION
				
			}else{
				alert(getAjaxFailureReason(d));
			}
		});
	}
	//HOVERING OVER buttons make them shine a color.
	$('div.panel-heading button.btn-success').mouseenter(function() {
			$elem = $(this);

			$('ul#list-took li#description').css("background-color","#e5ffe5");
		}).mouseleave(function(){
			$elem = $(this);

			$('ul#list-took li#description').css("background-color","#fff");
		});
	
	$('div.panel-heading button.btn-primary').mouseenter(function() {
			$elem = $(this);

			$('ul#list-add li#description').css("background-color","#e5f2ff");
		}).mouseleave(function(){
			$elem = $(this);

			$('ul#list-add li#description').css("background-color","#fff");
		});
		

	// **************** REMOVE COURSE FROM SESSION ****************
	
	$(document).on('click', 'div#left-panel span.XButton', function(){
		$elem = $(this);
		//add margin-top if no more courses.

		// Mark course as ignored in the model
		$.post('/a.php?p=RemoveCourse', {course_id: $elem.siblings("input#course_id").val().trim()}, function(d){

			if(!getAjaxStatus(d)){
				alert('Sorry, there was an error.');
				//alert(d);
			}else{
				// Hide/remove elements
				
				$elem.parent('li.list-group-item').slideUp(400, function(){
					$(this).remove();
					//doneTyping(); // Rerun the search in case new options are now avaliable...
				});


				
			}
			//Issues here, it doesn't update the margin properly...
			setMargins();
			resetStatistics();
		});
		
	});
	// **************** GETTING QUESTION! *****************
	var typingTimer1;                //timer identifier
	var doneTypingInterval1 = 200;  //time in ms, 5 second for example
	var $input1 = $('div.single-question div.form-group input.form-control');
	var $event;
	//on keyup, start the countdown
	$input1.on('keyup', function () {
		//alert('keyup');
		$event = $(this);
		clearTimeout(typingTimer1);
		typingTimer1 = setTimeout(doneTypingQuestion(), doneTypingInterval1);
	});

	//on keydown, clear the countdown 
	$input1.on('keydown', function () {
	  $event = $(this);
	  clearTimeout(typingTimer1);
	});

	function doneTypingQuestion(){
		
		var table = $event.parents('div.single-question').find('input#table').val();
		var id = $event.parents('div.single-question').find('input#id').val();
		var column = $event.parents('div.single-question').find('input#column').val();
		var value = $event.val();
		//alert(table+" "+id+ " "+column+" "+value);
		$.post('/a.php?p=AddSessionAspect', {table: table,id: id,column: column,value: value}, function(d){
		});
	}
	// **************** SEARCH ****************
	//setup before functions
	var typingTimer2;                //timer identifier
	var doneTypingInterval2 = 100;  //time in ms, 5 second for example
	var $input2 = $('input#classSearchField');

	//on keyup, start the countdown
	$input2.on('keyup', function () {
		clearTimeout(typingTimer2);
		typingTimer2 = setTimeout(doneTyping, doneTypingInterval2);
	});

	//on keydown, clear the countdown 
	$input2.on('keydown', function () {
	  clearTimeout(typingTimer2);
	});

	//user is "finished typing," do something
	function doneTyping (){
		$("div#courseResultsArea").html("");
		$("div#courseResultsArea").html('<img src="/images/ajax-loader.gif" alt="loading" style="width:16px;height:16px;">');
		$.post('/a.php?p=Search', {q: $input2.val()}, function(d){
			if(getAjaxStatus(d)){
				// Everything went well
				if($input2.val() === ''){
					$("div#courseResultsArea").html('');
				}else{
					$("div#courseResultsArea").html(getAjaxData(d));
					resetSliderColors();
				}
				
			}else{
				//alert(getAjaxFailureReason(d));
			}
		});
	}
	
	//******************RESET SUGGESTIONS BUTTON******************/
	$(document).on('click', 'div.btn-container-suggestr button.btn-primary', function(){
		
		$("div#courseResultsArea").html("");
		$("div#courseResultsArea").html('<img src="/images/ajax-loader.gif" alt="loading" style="width:16px;height:16px;">');
		$.post('/a.php?p=Suggest',function(d){
			
			
			if(getAjaxStatus(d)){
				// Everything went well
				//alert(d);
				$("div#courseResultsArea").html(getAjaxData(d));
				resetSliderColors();
			}else{
				alert(getAjaxFailureReason(d));
			}
		});
	});
	
	
	$(document).on('click', 'div.btn-container-reset button.btn-info', function(){
		
		$.post('/a.php?p=Reset',function(d){
			
			alert("Sent");
			if(getAjaxStatus(d)){
				// Everything went well
				alert("worked");
			}else{
				alert(getAjaxFailureReason(d));
			}
		});
	
	});



	//*****************ADD tag count*****************//
	$(document).on('click', 'div.panel-bottom div.row div.col-md-11 div.btn-group button.btn-default', function(){


		var $course_id = $(this).parent('div.btn-group').parent('div.col-md-11').parent('div.row').parent('div.panel-bottom').siblings("div.panel-heading").children('input#course_id').val();
		var $tag_id = $(this).siblings('input#tag_id').val();
		var $tag_name = $(this).children(".tagName").html();
		var $tag_count = $(this).children(".tagCount").html();
		var $final_position = $(this).children(".tagCount");
		var $num = 1;//adding one vote here.

		var $buttonItself = $(this);
		//PERHAPS ALLOW TO RETRACT VOTE in the future by passing in -1, and deleting the initial entry in the table.
		//$(this).css({"background-color": '#FF4500'});
		$.post('/a.php?p=AddTag', {course_id: $course_id, tag_id: $tag_id, tag_name: $tag_name,num: $num} ,function(d) { 
			if(!getAjaxStatus(d)){//If you voted twice, error will be here.
				$buttonItself.css({"background-color": '#FF4500'});
				$final_position.html(parseInt($tag_count)-1);
			}else{
				$final_position.html(parseInt($tag_count)+1);
				$buttonItself.css({"background-color": 'green'});
				//$buttonItself.animate({backgroundColor: '#00C957'}, 'slow');
				//$buttonItself.animate({backgroundColor: '#AAAAAA'}, 'slow');
			}	
		});
	});


	//RATINGS!!!!11one
	//Visually showing what happens when you mess with sliders.
	$(document).on('mousemove', 'div.panel-bottom div.slider', function(e){
		
		var offset = $(this).offset();
		var width = $(this).width();
		var $course_id = $(this).parent('div.panel-bottom').siblings("div.panel-heading").children('input#course_id').val();
		var $slider_id = $(this).children('input#slider_id').val();
		var $slider_num = (e.pageX - offset.left)/(width);
		var $slider_rating = $(this).children('.slider-rating');


		$slider_rating.css({"width":(e.pageX - offset.left)+"px"});
		sliderColorizeUp($slider_rating,$slider_num*100);
	});

	$(document).on('mouseleave', 'div.panel-bottom div.slider',function(e){
		var offset = $(this).offset();
		var width = $(this).width();
		var $course_id = $(this).parent('div.panel-bottom').siblings("div.panel-heading").children('input#course_id').val();
		var $slider_id = $(this).children('input#slider_id').val();
		var $slider_num = (e.pageX - offset.left)/(width);
		var $percentage = $(this).children('input.percentage').val();
		var $slider_rating = $(this).children('.slider-rating');


		$slider_rating.css({"width":$percentage+"%"});
		sliderColorizeUp($slider_rating,$percentage);
	});


	$(document).on('click', 'div.panel-bottom div.slider', function(e){
		var offset = $(this).offset();
		var width = $(this).width();
		var $course_id = $(this).parent('div.panel-bottom').siblings("div.panel-heading").children('input#course_id').val();
		var $slider_id = $(this).children('input#slider_id').val();
		var $slider_num = (e.pageX - offset.left)/(width);

		$elem = $(this);
		$elem.children('input.percentage').val($slider_num*100);
		$elem.children('.slider-rating').css({"width":(e.pageX - offset.left)+"px"});
		sliderColorizeUp($elem);
		$.post('/a.php?p=AddRating', {course_id: $course_id, slider_id: $slider_id, slider_num: $slider_num} ,function(d) { 
			//Sets input-wise the percentage to the one you set.
			
		});
	});

	function makeGradientColor(color1, color2, percent) {
	    var newColor = {};

	    function makeChannel(a, b) {
	        return(a + Math.round((b-a)*(percent/100)));
	    }

	    function makeColorPiece(num) {
	        num = Math.min(num, 255);   // not more than 255
	        num = Math.max(num, 0);     // not less than 0
	        var str = num.toString(16);
	        if (str.length < 2) {
	            str = "0" + str;
	        }
	        return(str);
	    }
	    //alert("alert: "+color1.r);
	    newColor.r = makeChannel(color1.r, color2.r);
	    newColor.g = makeChannel(color1.g, color2.g);
	    newColor.b = makeChannel(color1.b, color2.b);
	    newColor.cssColor = "#" + 
	                        makeColorPiece(newColor.r) + 
	                        makeColorPiece(newColor.g) + 
	                        makeColorPiece(newColor.b);
	    return(newColor);
	}
	function resetSliderColors(){
		
		//Passing by reference issues.d


		$('div.panel-bottom div.slider div.slider-rating').each(function(){

			sliderColorizeUp($(this),$(this).siblings('input.percentage').val());
		});
		$('ul.stats div.statistics li.list-group-item div.slider div.slider-rating').each(function(){



			sliderColorizeDown($(this),$(this).siblings('input.percentage').val());
		});
		return false;
	}
	
	//repaints specific element in a gradient from color1 to color2 based on val (0 to 100)
	function sliderColorizeUp(elem,val){
		
		if(val < 50){
			var red = {r:255, g:0, b:0};
			var yellow = {r:255, g:255,b:0};
			var endColor = makeGradientColor(red, yellow, val*2).cssColor;
			elem.css({"background-color":endColor});
		}else if(val >= 50){
			var yellow = {r:255, g:255,b:0};
			var green = {r:0, g:255, b:0};
			var endColor = makeGradientColor(yellow, green, (val-50)*2).cssColor;
			elem.css({"background-color":endColor});
		}
		

		
		
	}
	function sliderColorizeDown(elem,val){

		if(val > 50){
			var red = {r:255, g:0, b:0};
			var yellow = {r:255, g:255,b:0};
			var endColor = makeGradientColor(yellow, red, (val-50)*2).cssColor;
			elem.css({"background-color":endColor});
		}else if(val <= 50){
			var yellow = {r:255, g:255,b:0};
			var green = {r:0, g:255, b:0};
			var endColor = makeGradientColor(green, yellow, val*2).cssColor;
			elem.css({"background-color":endColor});
		}
	}
	
	resetSliderColors();
	setMargins();

	
});
</script>

<div class="col-md-5" id="left-panel">
	<div class="list-group" id="classes">

		<!-- need someone to fix this bullshit -->
		<ul id="list-questions">
			<!--<li class="list-group-item" id="questions">
				<span>
					Fill out these questions to the best of your knowledge.
				</span>
			</li>-->
			<!-- Make this into a mustache array-->

			<li class = "list-group-item" style = "display:table;width:100%;">

				<div class = "single-question" id = "major" style="display:table-cell;">
					<!-- shit to modify in a given table-->
					<input type="hidden" id = "table" value = "session">
					<input type="hidden" id = "id"  value = "{{session}}">
					<input type="hidden" id = "column"  value = "major_name">

					<div class = "form-title" style ="border-radius: 5px 5px 0px 0px;text-align:center;border:1px solid #ddd;border-bottom:0px;">
						<span>Major</span>
					</div>
					<div class = "form-group"> 
					  <input type="text"  style = "border-radius: 0px 0px 5px 5px;" class="form-control" id="department_id" placeholder="Input Major" value="{{major_name}}">
					</div>
				</div>

				<div class = "single-question" id = "year" style="display:table-cell;">
					<input type="hidden" id = "table" value = "session">
					<input type="hidden" id = "id"  value = "{{session}}">
					<input type="hidden" id = "column" value = "year_id">

					<div class = "form-title" style ="border-radius: 5px 5px 0px 0px;text-align:center;border:1px solid #ddd;border-bottom:0px;">
						<span>Year</span>
					</div>
					<div class = "form-group"> 
					  <input type="text"  style = "border-radius: 0px 0px 5px 5px;" class="form-control" id="year_id" placeholder="Input Year" value="{{year_id}}">
					</div>
				</div>

			</div>
		</ul>



		<ul id="list-took">
			<li class="list-group-item" id="description">
				<span>
					Press "Took" on classes you've taken.
				</span>
			</li>
			
			
			<li class="list-group-item">
				<div class="input-group" id="classSearch">
					<input type="text" id="classSearchField" class="form-control" placeholder="Search for courses by typing part of the name or title" autocomplete="off">
				</div>
			</li>
			<!-- not sure of how styling this be.<br>-->
			<div class = "tookList">
				{{#usersCourses}}
				<li class="list-group-item" style="background-color:#e5ffe5">
					<input type="hidden" id="course_id" value="{{id}}" />
					<span class="badge XButton">X</span>
					<!-- How to make this look better. Also, class should be unique no?
					<span class="badge">ADD TAG</span>-->
					{{name}}
					<span class="badge">{{number}}</span>
				</li>
				{{/usersCourses}}
			</div>
			<!-- Make more aesthetically pleasing-->

			<li class="list-group-item" id="bottom-container"></li>

		</ul>


		<!--<div class="arrow-down" style="border-top: 20px solid#4cae4c;"></div>-->
		<br>
		
		<ul id="list-add">
			<li class="list-group-item" id="description">
				<span>
					Press "Add" on courses you want to take next semester.
				</span>
			</li>
			
			<!--<div class="arrow-down" style="border-top: 20px solid #2e6da4;"></div>-->
			<div class = "addList">
			{{#futureUsersCourses}}
			<li class="list-group-item" style="background-color:#e5f2ff">
				<input type="hidden" id="course_id" value="{{id}}" />
				<span class="badge XButton">X</span>
				<!-- How to make this look better. Also, class should be unique no?
				<span class="badge">ADD TAG</span>-->
				
				

				{{name}}
				<span class="badge">{{number}}</span>
			</li>
			{{/futureUsersCourses}}
			</div>

			<li class="list-group-item" id="bottom-container"></li>
		
		</ul>
		
		
		<br>
		<ul class = "stats">
			<li class = "list-group-item">
				<span>Statistics on courses added.</span>
			</li>
			<div class = "statistics">

				<li class = "list-group-item" id="difficulty" style="background-color:#ffffe5;">
					
					<div class = "slider" style= "width:80%;float:right;"><!-- really need to change the style here
						Really not getting this inheritance stuff here.-->
						
						<div class="slider-rating" style="width:{{percentage2}}%;border-radius:5px;color:black; height:20px">
						</div>
						<!-- in this case, id will be flipped to make do --> 
						<input type="hidden" class="percentage" value="{{percentage2}}">
					</div>
					<span>Difficulty:</span>
				</li>
			</div>
			<li class="list-group-item" id="bottom-container" style="margin-top:0px;"></li>
			
		</ul>
		
		<!--<div class = "btn-container-reset">
			<button type="button" class="btn btn-info">RESET</button>
		</div>-->
		
	</div>
	<div class = "footer"> 
		<span> Made by Lucien Christie-Dervaux. lucienchristiedervaux@gmail.com for questions and comments.</span> 
		<a href = "https://github.com/luciencd/suggestr"><span>Github. </span></a>
	</div>
	
</div> <!-- /Sidebar -->



<div class="col-md-7" id = "right-panel">
	<div class="container">
		<div id="content">


			
			<div class="panel-default" id="courseResultsArea">
				<div class = "suggest-control" style="display: table;width:100%;">
					
					<div class = "btn-container-suggestr" style="display: table-cell;">
						<button type="button" class="btn btn-primary">Suggest</button>
					</div>
					<div class="list-group-item" style="border-radius: 5px 5px 5px 5px;display: table-cell;width:96%;">
						<div class = "resultsInfo">
							<span>{{description}}</span> (<span>{{numResults}} Results</span>)
						</div>
					</div>

				</div>
				
				<br>
				{{#allCourses}}
					<div class="single-course">
						<div class="panel-heading">
							<!-- perhaps move course_id one position up -->
							<input type="hidden" id="course_id" value="{{id}}" />
							<input type="hidden" id="number" value="{{number}}" />
							<input type="hidden" id="name" value="{{name}}"/>
							<div class="row">
								<div class="col-md-9">
									<h3 class="panel-title"><span>{{number}}</span> <span>{{name}}</span></h3>
								</div>
								<div class="col-md-3">
									<div class="btn-group" role="group">
										<button type="button" class="btn btn-success">Took</button>

										<button type="button" class="btn btn-primary">Add</button>
										<!--<button type="button" class="btn btn-danger">Ignore</button>-->
									</div>
								</div>
							</div>
						</div>

						<div class="panel-body">
							<div class="row">{{description}}</div>
						</div>


						<div class = "panel-bottom">
							{{#ratings}}
							<div class = "slider">
								<!-- Working on making this look better-->
								<!--<div class = "slider-titles" style="border-radius: 5px 5px 0px 0px;border: 1px solid #ddd;">
									<span>{{slider_name}}</span>
								</div>-->
								<!--<div class = ""-->
								<div class="slider-rating" style="width:{{percentage}}%;border-radius:5px;">
									<span>{{slider_name}}</span>
								</div>
								<input type="hidden" id="slider_id" value="{{slider_id}}">
								<input type="hidden" class="percentage" value="{{percentage}}">
							</div>
							{{/ratings}}
						</div>
					</div>
					<!-- needs spacing here-->
				{{/allCourses}}
			</div>
		</div>
	</div>
</div> <!-- /col-md-7 -->
