<script type="text/javascript">

$(document).ready(function(){
	alert('start');
	$course_id = "ass";
	
	$(document).on('click', 'div.control-panel button#majorrelations', function(){
		// Hide/remove elements
		alert('major relations1');
		$.post('/a.php?p=MajorRelations',{course_id: $course_id}, function(d){
			
			alert(getAjaxStatus(d));
		});
	});
});

</script>
<link rel="stylesheet" href="/Static/Styles/GlobalStyle/ml.css"> 

<div class="col-md-5" id="left-panel">
	<div class = "control-panel">
		<form action="model-factors">
			<input type="checkbox" name="major" value="major">Major<br>
			<input type="checkbox" name="vehicle" value="Bike">Course Frequency<br>
		</form>
		<button class="btn btn-default" id = "analyze" type="submit">Analyze</button>
		<button class="btn btn-default" id = "majorrelations" type="submit">Major Relations</button>
	</div>
</div>

{{#analysis}}
<div class = "fitness-view">
	<span>
		fitness results
	</span>
	<span>fitness levels for {{num}} sessions is {{fitness}}
	</span>
</div>
{{/analysis}}